<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Registro</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="stylesheet" href="css/styles.css">
        <link rel="shortcut icon" href="images/ml-logo.png" type="image/x-icon">
    </head>
    <body>
        <header>
            <div class="top-header">
                <div class="logo"> 
                    <img src="images/logo-mercado-liebre.svg" alt="Logo de MercadoLiebre">
                </div>
                <div class="form" action="#" method="GET">
                    <input type="text" placeholder="Buscar productos, marcas y más">
                    <div class="submit"><i class="fa fa-search"></i></div>
                </div>
                <p><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
            </div>
            <nav>
                <ul class="nav-1">
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
                <ul class="nav-2">
                    <li><a href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                    <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                    <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
                </ul>
            </nav>
            <div class="burger-menu">
                <i class="fa fa-bars burger"></i>
            </div>
        </header>

        <main>
            <form class="register" action="" method="">
                <h1>Registro</h1>
                <input type="text" placeholder="Nombre y Apellido">
                <input type="text" placeholder="Nombre de Usuario">
                <input type="text" placeholder="Contraseña">
                <label for="">Fecha de Nacimiento</label>
                <input type="date" name="" id="">
                <input type="text" placeholder="Domicilio">
                <label for="">Perfil de Usuario</label>
                <select name="" id="">
                    <option value="">Comprar</option>
                    <option value="">Vender</option>
                </select>
                <label for="">Intereses</label>
                <div class="checkbox">
                    <input type="checkbox" name="" id="">Electro
                    <input type="checkbox" name="" id="">Moda
                    <input type="checkbox" name="" id="">Hogar
                    <input type="checkbox" name="" id="">Jugueteria
                </div>
                <input type="password" name="" id="" placeholder="Contraseña">
                <input type="password" name="" id="" placeholder="Confirmar Contraseña">

                <input type="submit" value="Enviar">
            </form>
        </main>

        <footer>
            <div class="footer-info">
                <section class="footer-item">
                    <div class="footer-icon">
                        <i class="fas fa-credit-card"></i>
                    </div>
                    <div class="footer-item-tittle">
                        <h5>Paga con tarjeta o en efectivo</h5>
                    </div>
                    <p>Con Mercado Liebre Cash, tenes cuotas sin interes con tarjeta o efectivo en puntos de pago ¡Y siempre es seguro!</p>
                </section>
                <section class="footer-item">
                    <div class="footer-icon">
                        <i class="fas fa-gift"></i>
                    </div>
                    <div class="footer-item-tittle">
                        <h5>Envio gratis desde $2.5000</h5>
                    </div>
                    <p>Solo por estar registrado en Mercado Liebre tenes envios gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
                </section>
                <section class="footer-item">
                    <div class="footer-icon">
                        <i class="fas fa-user-shield"></i>
                    </div>
                    <div class="footer-item-tittle">
                        <h5>Seguridad, de principio a fin</h5>
                    </div>
                    <p>¿No te gusta? =¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estas siempre protegido</p>
                </section>
            </div>
            <p class="asd">Hecho por Nicolas Duarte</p>
        </footer>
        
    </body>
</html>